<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395048552322-g7oo09t5qr7470d663vs8nl18o4shof9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395048552322-g7oo09t5qr7470d663vs8nl18o4shof9</string>
	<key>API_KEY</key>
	<string>AIzaSyDoOWwg27pXd7wnlcwUv7oWzEHECI3YpW8</string>
	<key>GCM_SENDER_ID</key>
	<string>395048552322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.desmokrizer</string>
	<key>PROJECT_ID</key>
	<string>desmokerizer</string>
	<key>STORAGE_BUCKET</key>
	<string>desmokerizer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395048552322:ios:7349c1f48b0d8d02ed719b</string>
</dict>
</plist>